# Maven
target/

# Credenziali SAP - non committare mai
**/src/main/resources/config.properties
**/config.properties

# Eclipse
.classpath
.project
.settings/

# OS
Thumbs.db
.DS_Storefcs/.ccEclipseSynch
